@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:400,800);
.angular-google-map-container {
    height: 350px;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
body {
    background-color: black;
    margin: 0;
    padding: 0;
}
.position {
    text-align: center;
    position: absolute;
    z-index: 9999999;
    top: 0;
    left: 50%;
    background-color: rgba(255,255,255,.6);
    height: 40px;
    width: 450px;
    padding: 4px 10px 0;
}

input {
    font-family: 'Inconsolata', monospace ;
    font-size: 1.25em;
    border: 0;
    width: 10em;
    position: relative;
}

input, input:focus {
    outline: none;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

[ng-app="app"] {
    height: 100vh;
    width: 100vw;
}