<div class="panel panel-success">
    <div class="panel panel-heading">
        List of Survivors
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <div ui-grid="gridOptions"></div>
            </div>
        </div>

    </div>

    <div class="panel-footer">
        <button class="btn btn-success navbar-btn"
                ng-click="addSurvivor()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            New Survivor
        </button>
        <button class="btn btn-danger navbar-btn"
                ng-click="flagSurvivor()">
            <i class="fa fa-medkit"></i>
            Flag a Survivor
        </button>
        <button class="btn btn-primary navbar-btn"
                ng-click="showReports()">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            Reports
        </button>
    </div>
</div>