<div ng-controller="ShowSurvivorController">

    <form name="survivorForm" novalidate>
        <div class="panel panel-success">

            <div class="panel panel-heading">
                Edit Survivor
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="survivor.name"
                                   name="name"
                                   disabled
                            >
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Age</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="survivor.age"
                                   name="age"
                                   disabled
                            >
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Gender</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="survivor.gender"
                                   name="gender"
                                   disabled
                            >
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Last Location</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="lonlat"
                                   name="lonlat"
                            >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div ui-grid="gridOptions"></div>
                    </div>
                </div>

                <hr class="divider">

                <div class="row">
                    <div class="col-md-12">
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                        <div ng-cloak>
                            <ul>
                                <li>coords update ctr: {{coordsUpdates}}</li>
                                <li>dynamic move ctr: {{dynamicMoveCtr}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <button class="btn btn-success navbar-btn"
                        ng-click="update()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
                <button class="btn btn-warning navbar-btn"
                        ng-click="back()">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Back
                </button>
                <button class="btn btn-primary navbar-btn"
                        ng-click="getInventory(survivor.id)">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    Inventory
                </button>
            </div>
        </div>
    </form>
</div>